# DSCI 525 - Web and Cloud Computing

Milestone 2: The purpose of this milestone is to move our data to the cloud and get comfortable working there.

## Milestone 2 checklist

- [ ] Setup your EC2 instance with JupyterHub.  
- [ ] Install all necessary things needed in your UNIX server (amazon ec2 instance).
- [ ] Setup your S3 bucket.
- [ ] Move the data that you wrangled in your last milestone to s3.
- [ ] Get the data from S3 in your notebook and make data ready for machine learning.

**Keep in mind:**

- _All services you use are in region Canada ca-central-1._

- _Use only default VPC and subnet, also if not specified explicitly in instruction, leave those options as default when setting up an instance and s3._
    
- _No IP addresses are visible when you provide the screenshot._

- _We want one single notebook for grading, and it's up to your discretion on how you do it. ***So only person in your group spins ```t2.xlarge```.***_

- _Say something went wrong and you want to spin up another EC2 instance, then make sure you terminate the previous one._

- _We will be choosing the storage to be ```Delete on Termination```, which means upon termination, stored data in your instance will be lost. Make sure you save any data to S3 and download the notebooks to your laptop so that next time you have your jupyterHub in a different instance, you can upload your notebook there._

_***Outside of Milestone:*** If you are working as an individual to just practice setting up EC2 instances, make sure you select ```t2.micro``` instance and stick to other ```settings/instructions``` given in this milestone. I strongly recommend you spinning up your own instance and experimenting with the s3 bucket in doing something to get comfortable with AWS. But we won't be looking at it for a grading purpose._

### 1. Setup your EC2 instance

rubric={correctness:20}

Follow the instructions shown during the lecture to set up your EC2 instance. You can use [this](https://tljh.jupyter.org/en/latest/install/amazon.html ) as your reference, but please make sure you follow the below instructions.

1.1) Choose AMI "Ubuntu Server 18.04 LTS (HVM), SSD Volume Type 64-bit (x86)".

1.2) Choose an Instance Type t2.xlarge.

1.2) Make sure you go with the default VPC & subnet.

1.4) Get the configuration code from step 7 in the above link and replace "admin-user-name"(remove < > as well) with your AWS IAM username.
    
1.5) Storage use Root with size 30 GB.
    
1.6) Add tag, enter "Owner" under the Key field. In the Value field in the Name row, give your IAM username.
    
1.7) Select an existing security group Name "DSCI525."
    
1.8) Review page looks like [this](https://github.ubc.ca/MDS-2020-21/DSCI_525_web-cloud-comp_students/blob/master/images/1_out.png) before you launch the instance.
    
1.9) In the pop-up, "Select an existing key pair or a new key pair." If you are setting up your cluster for the first time, click on create a new key pair and name it as your "IAM user account". Download the private key and keep it secure. Next time when you set up the EC2 instance, make sure you select "Choose an existing keypair" and choose the one you already made for you.
    
1.10) Search for your "IAM user account" under instances to see if it's running. Give it 15 - 20 min as even if it shows running, it will take more time to set up JupyterHub. So please wait...!
    
1.11) Check out the "Connect" button to determine how you can connect to the instance. Now you are given the DOOR access to the server, which we mentioned in our first class. :)

#### Please attach this screen shots from your group for grading.

<img src="./images/xlarge_running.png" width="800px">

### 2. Setup your JupyterHub

rubric={correctness:20}

2.1) Under description, check for "IPv4 Public IP" and paste the IP address in your browser for your JupyterHub.

2.2) Enter your "IAM user account" and use a strong password & note it down somewhere, as what you enter here will be the admin password.
    
2.3) In your JupyterHub, go to "Control Panel" --> "admin." Here add other members of your group use their "IAM user account" and make them admins.
    
2.4) Check if other members can log in to the JupyterHub from their machines by giving them the URL to connect. Step 2.2 is applicable here for other members.

#### Please attach this screen shots from your group for grading
<img src="./images/jupyterhub_admins.png" height="200px">

### 3. Setup the server

rubric={correctness:20}

3.1) Login in to the server (instance). The person who spins up the EC2 instance will only have access to the server as he only got the private key. If someone else wants to log in to that instance, you need to get hold of that private key (  Refer 1.10 ). Need to know more ? [Click here](https://github.ubc.ca/MDS-2020-21/DSCI_521_platforms-dsci_instructors/blob/master/lectures/7-ssh-filenames-project-organization.ipynb)

3.2) Setup a common data folder to download data, and this folder should be accessible by all users in the JupyterHub. Following commands make a folder and make it accessible to everyone. Want to learn more about basic UNIX commands? [Click here](https://maker.pro/linux/tutorial/basic-linux-commands-for-beginners).

```
sudo mkdir -p /srv/data/my_shared_data_folder
sudo chmod 777 /srv/data/my_shared_data_folder/
```
    
3.3)(***OPTIONAL, no bonus points***) If you want a sharing notebook environment, then check out [this]( https://github.com/gutow/tljh_grp_utils). if you plan to do this, make sure you install the "members" package in your server run ```sudo apt-get install members```."

3.4) Install AWS CLI. More details [here](https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-linux.html).

_NOTE:We are installing this in our EC2 instance, but we can install this anywhere to interact with s3. Say you can install it in your local machine and move data to s3._

    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    sudo apt install unzip
    unzip awscliv2.zip
    sudo ./aws/install
    
3.5) Setup your access key and secret. Do it from your [AWS console](https://console.aws.amazon.com/iam/home?#/security_credentials). Make sure you keep your "Access key ID" & secret key somewhere safe.

3.6) Use these credentials to configure AWS CLI (aws configure). More details [here](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html). "Default region" and "output format" you can leave empty.

3.7) AWS cli can be used to interact with a lot of services. Check this [out](https://docs.aws.amazon.com/cli/latest/reference/). To get a feel, we will use CLI to interact with s3 and wait for step 6.

### Connection steps
- `chmod 400 student19.pem`
- `ssh -i "student19.pem" ubuntu@ec2-<ip-address-with-dashes>.ca-central-1.compute.amazonaws.com`

#### Please attach this screen shots from your group for grading

Make sure you mask the IP address refer [here](https://www.anysoftwaretools.com/blur-part-picture-mac/).

<img src="./images/aws_version.png" width="800px">

### 4. Get the data what we wrangled in our first milestone.

You have to install the packages that are needed. Refer this TLJH [document]( https://tljh.jupyter.org/en/latest/howto/env/user-environment.html).Refer ```pip``` section.

Don't forget to add option -E. This way, all packages that you install will be available to other users in your JupyterHub.
These packages you must install and install other packages needed for your wrangling.

    sudo -E pip install pandas
    sudo -E pip install pyarrow
    sudo -E pip install s3fs

As in the last milestone, we looked at getting the data transferred from Python to R, and we have different solutions. Henceforth, I uploaded the parquet file format, which we can use moving forward.

In [1]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

/opt/tljh/user/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.4) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

Rememeber here we gave the folder that we created in Step 3.2 as we made it available for all the users in a group.

In [2]:
# Necessary metadata
article_id = 14226968  # this is the unique identifier of the article on figshare
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
# output_directory = "/srv/data/my_shared_data_folder/"
output_directory = './data/parquet/'

In [9]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
# files

In [4]:
files_to_dl = ["combined_model_data_parti.parquet.zip"]  ## Please download the partitioned 
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

In [8]:
with zipfile.ZipFile(os.path.join(output_directory, "combined_model_data_parti.parquet.zip"), 'r') as f:
    f.extractall(output_directory)

### 5. Setup your S3 bucket and move data

rubric={correctness:20}

5.1) Get comfortable with S3 UI. Go from the AWS console.

5.2) Create a bucket there. The name should be mds-s3-xxx. Replace xxx with your "IAM user account".

5.3) All other options leave as it is. (Make sure AWS region is Canada).

5.4) Create your first folder called "output".

5.5) Move the "observed_daily_rainfall_SYD.csv" file from the Milestone1 data folder to your s3 bucket from your local computer. (it's a tiny file, so maybe you can easily use UI to upload).

5.6) Moving the parquet file we downloaded in step 4 to S3 using the cli what we installed in step 3.7.
Refer [this](https://docs.aws.amazon.com/cli/latest/userguide/cli-services-s3-commands.html#using-s3-commands-managing-objects-move) document and figure out yourself!
    
Hint: We are interested in the ```cp``` command. ```local``` is the directory path on our server.

### Upload
- `aws s3 cp combined_model_data_parti.parquet s3://mds-s3-student19/combined_model_data_parti.parquet --recursive`

#### Please attach this screen shots from your group for grading

Make sure it has 3 objects.

<img src="./images/s3_bucket.png" width="800px">

### 6. Wrangle the data in preparation for machine learning

rubric={correctness:20}

Our data currently covers all of NSW, but say that our client wants us to create a machine learning model to predict rainfall over Sydney only. There's a bit of wrangling that needs to be done for that:
1. We need to query our data for only the rows that contain information covering Sydney
2. We need to wrangle our data into a format suitable for training a machine learning model. That will require pivoting, resampling, grouping, etc.

To train an ML algorithm we need it to look like this:

||model-1_rainfall|model-2_rainfall|model-3_rainfall|...|observed_rainfall|
|---|---|---|---|---|---|
|0|0.12|0.43|0.35|...|0.31|
|1|1.22|0.91|1.68|...|1.34|
|2|0.68|0.29|0.41|...|0.57|

6.1) Get the data from s3

6.2) First query for Sydney data and then drop the lat and lon columns (we don't need them).
```
syd_lat = -33.86
syd_lon = 151.21
```
Expected shape ```(1150049, 2)```.

6.3) Save this processed file to s3 for later use:

  Save as a csv file ```ml_data_SYD.csv``` to ```s3://mds-s3-student96/output/```
  expected shape ```(46020,26)``` - This includes all the models as columns and also adding additional column ```Observed``` loaded from ```observed_daily_rainfall_SYD.csv``` from s3.

In [5]:
from pathlib import Path

Path.cwd()

PosixPath('/home/jupyter-student19/rainfall_group22/notebooks')

In [6]:
bucket = 's3://mds-s3-student19'

aws_credentials = pd \
    .read_csv('../student19_accessKeys.csv') \
    .iloc[0].to_dict()

In [7]:
# Passing your credentials

# local
# .read_parquet('./data/parquet/combined_model_data_parti.parquet') \

df_raw = pd \
    .read_parquet(
        path=f'{bucket}/combined_model_data_parti.parquet',
        storage_options=aws_credentials) \
    .rename(columns={'rain (mm/day)': 'rain'}) \
    .set_index('time')

In [8]:
# shape of this file (62513863, 7)
df_raw

,lat_min,lat_max,lon_min,lon_max,rain,model
time,,,,,,
1889-01-01 12:00:00,-36.25,-35.0,140.625,142.5,3.293256e-13,ACCESS-CM2
1889-01-02 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
1889-01-03 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
1889-01-04 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
1889-01-05 12:00:00,-36.25,-35.0,140.625,142.5,1.047658e-02,ACCESS-CM2
...,...,...,...,...,...,...
2014-12-27 00:00:00,NaN,NaN,NaN,NaN,3.747200e-02,observed
2014-12-28 00:00:00,NaN,NaN,NaN,NaN,1.580613e-01,observed
2014-12-29 00:00:00,NaN,NaN,NaN,NaN,2.571914e-02,observed
2014-12-30 00:00:00,NaN,NaN,NaN,NaN,7.293899e-01,observed
2014-12-31 00:00:00,NaN,NaN,NaN,NaN,8.076387e-03,observed

In [9]:
# path = './data/csv/observed_daily_rainfall_SYD.csv'
path = f'{bucket}/observed_daily_rainfall_SYD.csv'

df_obs = pd \
    .read_csv(
        path,
        storage_options=aws_credentials,
        parse_dates=['time']) \
    .rename(columns={'rain (mm/day)': 'observed_rain'}) \
    .set_index('time')

df_obs

            observed_rain
time
1889-01-01       0.006612
1889-01-02       0.090422
1889-01-03       1.401452
1889-01-04      14.869798
1889-01-05       0.467628
...                   ...
2014-12-27       0.037472
2014-12-28       0.158061
2014-12-29       0.025719
2014-12-30       0.729390
2014-12-31       0.008076

[46020 rows x 1 columns]

In [10]:
syd_lat = -33.86
syd_lon = 151.21

df = df_raw \
    .pipe(
        lambda df: df[
            (df.lat_min <= syd_lat) &
            (df.lat_max >= syd_lat) &
            (df.lon_min <= syd_lon) &
            (df.lon_max >= syd_lon)]) \
    .drop(columns=['lat_min', 'lat_max', 'lon_min', 'lon_max']) \
    .pivot(columns='model', values='rain') \
    .resample('D').mean() \
    .join(df_obs)

df

,ACCESS-CM2,ACCESS-ESM1-5,AWI-ESM-1-1-LR,BCC-CSM2-MR,BCC-ESM1,CMCC-CM2-HR4,CMCC-CM2-SR5,CMCC-ESM2,CanESM5,EC-Earth3-Veg-LR,...,MPI-ESM-1-2-HAM,MPI-ESM1-2-HR,MPI-ESM1-2-LR,MRI-ESM2-0,NESM3,NorESM2-LM,NorESM2-MM,SAM0-UNICON,TaiESM1,observed_rain
time,,,,,,,,,,,,,,,,,,,,,
1889-01-01,0.040427,1.814552,3.557934e+01,4.268112e+00,1.107466e-03,1.141054e+01,3.322009e-08,2.668800,1.321215,1.515293,...,4.244226e-13,1.390174e-13,6.537884e-05,3.445495e-06,1.576096e+01,4.759651e-05,2.451075,0.221324,2.257933,0.006612
1889-01-02,0.073777,0.303965,4.596520e+00,1.190141e+00,1.015323e-04,4.014984e+00,1.312700e+00,0.946211,2.788724,4.771375,...,4.409552e+00,1.222283e-01,1.049131e-13,4.791993e-09,3.675510e-01,4.350863e-01,0.477231,3.757179,2.287381,0.090422
1889-01-03,0.232656,0.019976,5.927467e+00,1.003845e-09,1.760345e-05,9.660565e+00,9.103720e+00,0.431999,0.003672,4.233980,...,2.269300e-01,3.762301e-01,9.758706e-14,6.912302e-01,1.562869e-01,9.561101e+00,0.023083,0.253357,1.199909,1.401452
1889-01-04,0.911319,13.623777,8.029624e+00,8.225225e-02,1.808932e-01,3.951528e+00,1.317160e+01,0.368693,0.013578,15.252495,...,2.344586e-02,4.214019e-01,7.060915e-03,3.835721e-02,2.472226e-07,5.301038e-01,0.002699,2.185454,2.106737,14.869798
1889-01-05,0.698013,0.021048,2.132686e+00,2.496841e+00,4.708019e-09,2.766362e+00,1.822940e+01,0.339267,0.002468,11.920356,...,4.270161e-13,1.879692e-01,4.504985e+00,3.506923e-07,1.949792e-13,1.460928e-10,0.001026,2.766507,1.763335,0.467628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,0.033748,0.123476,1.451179e+00,3.852845e+01,2.061717e-03,8.179260e-09,1.171263e-02,0.090786,59.895053,5.071783,...,4.726998e-13,1.326889e-01,1.827857e+00,6.912632e-03,2.171327e-03,1.620489e+00,2.084252,0.868046,17.444923,0.037472
2014-12-28,0.094198,2.645496,4.249335e+01,5.833801e-01,5.939502e-09,8.146937e-01,4.938899e-01,0.000000,0.512632,1.578188,...,4.609420e-13,1.644482e+00,7.242920e-01,2.836752e-03,1.344768e+01,2.391159e+00,1.644527,0.782258,1.569647,0.158061
2014-12-29,0.005964,3.041667,2.898325e+00,9.359547e-02,2.000051e-08,2.532205e-01,1.306046e+00,0.000002,37.169669,1.565885,...,2.016156e+01,1.506439e+00,1.049481e-01,8.137182e+00,2.547820e+01,1.987695e-12,0.205036,2.140723,1.444630,0.025719
2014-12-30,0.000028,1.131412,2.516381e-01,1.715028e-01,7.191735e-05,8.169252e-02,1.722262e-01,0.788577,7.361246,0.025749,...,9.420543e+00,6.242895e+00,1.245115e-01,9.305263e-03,4.192948e+00,2.150346e+00,0.000017,29.714692,0.716019,0.729390
2014-12-31,0.532747,2.370896,1.047835e-13,4.437736e+00,2.863683e-01,6.343592e+00,6.368303e-01,0.442130,0.306608,0.106525,...,1.031899e+01,4.765813e+01,3.274323e-01,6.854985e-11,2.067847e+00,2.349716e+01,0.035319,59.724062,3.240185,0.008076

In [12]:
df.to_csv(f'{bucket}/output/ml_data_SYD.csv', storage_options=aws_credentials)

How the final file format looks like
https://github.ubc.ca/MDS-2020-21/DSCI_525_web-cloud-comp_students/blob/master/images/finaloutput.png

Shape ```(46020,26 )```

(***OPTIONAL, no bonus points***) Want to check out how much time it will take to read a CSV file instead of parquet from s3?

For that, upload the CSV file (```combined_model_data.csv.zip```
 )to S3 and try to read it instead of parquet. 
 
 You probably will get the answer for **WHY** parquet? :)