# Rainfall Analysis - 525 Group 22

## Usage

For easiest readability, please view the notebook as a webpage [here](https://ubc-mds.github.io/rainfall_group22/), or download and open the raw [html](https://github.com/UBC-MDS/rainfall_group22/blob/main/notebooks/milestone1.html).

This notebook is to be run in the 525 conda environment. I experienced some issues with `r2py`, but was able to solve them by adding `python=3.8.6` to the yaml file and recreate the environment.

We have used some helper functions, so before running please make sure to clone the repo: [https://github.com/UBC-MDS/rainfall_group22](https://github.com/UBC-MDS/rainfall_group22).

Below we will install some extra dependencies, you will need to restart the kernel after installed the first time.

In [6]:
# Installations
import sys

# used for pretty printing summary table colours
%conda install --yes --prefix {sys.prefix} seaborn

# our package from 524, used to pretty-print file sizes during download. Not super necessary but fun to use.
%pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple nicenumber

# used to show file download progress bar
%pip install tqdm

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.
Looking in indexes: https://test.pypi.org/simple/, https://pypi.org/simple
Requirement already satisfied: nicenumber in /opt/miniconda3/envs/525/lib/python3.8/site-packages (0.2.7)
Requirement already satisfied: pandas<2.0.0,>=1.2.3 in /opt/miniconda3/envs/525/lib/python3.8/site-packages (from nicenumber) (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/miniconda3/envs/525/lib/python3.8/site-packages (from pandas<2.0.0,>=1.2.3->nicenumber) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/miniconda3/envs/525/lib/python3.8/site-packages (from pandas<2.0.0,>=1.2.3->nicenumber) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/miniconda3/envs/525/lib/python3.8/site-packages (from pandas<2.0.0,>=1.2.3->nicenumber) (1.20.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/525/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.2.3->nicenumber) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tqdm in /opt/miniconda3/envs/525/lib/python3.8/site-packages (4.59.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# make sure root dir is added to sys.path for our imports from /src to work
from pathlib import Path
root_name = 'rainfall_group22'
p_root = Path.cwd()
print('p_root:', p_root)

if not p_root.name == root_name:
    p_root = p_root.parent
    sys.path.append(str(p_root))
    
assert p_root.name == root_name, 'Make sure notebook is run from cloned repo!'

from src import download as dl
from src import functions as f
from nicenumber import nicenumber as nn

import pandas as pd
import numpy as np
from collections import defaultdict

import rpy2.rinterface
import dask.dataframe as dd

# install the packages https://arrow.apache.org/docs/python/install.html
import pyarrow.dataset as ds
import pyarrow as pa
import pyarrow.parquet as pq

# How to install put instructions https://anaconda.org/conda-forge/rpy2
import rpy2.rinterface

# install this https://pypi.org/project/rpy2-arrow/#description  pip install rpy2-arrow
# have to install this as well conda install -c conda-forge r-arrow 
import rpy2_arrow.pyarrow_rarrow as pyra

import pyarrow.feather as feather

p_root: /Users/Jayme/OneDrive/MDS/525/rainfall_group22

In [8]:
%load_ext rpy2.ipython
%load_ext memory_profiler

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

## 1. Download Data

In [9]:
%%time
%%memit

# download and unzip data files
files = dl.download_files('data.zip', chunk_size=10)

if files:
    dl.unzip(p=files[0], p_dst='csv', delete=False)

INFO    58   src.download               Downloading 814MB file in 10MB chunks.
100%|██████████| 814M/814M [03:43<00:00, 3.65MiB/s]
INFO    69   src.download               File downloaded to: /Users/Jayme/OneDrive/MDS/525/rainfall_group22/data/data.zip
INFO    126  src.download               Unpacking zip to: /Users/Jayme/OneDrive/MDS/525/rainfall_group22/data/csv

peak memory: 1003.55 MiB, increment: 669.11 MiB
CPU times: user 15.6 s, sys: 6.99 s, total: 22.5 s
Wall time: 4min 5s

## 2. Combine CSVs

In [10]:
# set download directories
p_data = dl.p_data # top level data dir
p_csv = p_data / 'csv' # sub dir for saving loose csvs
p_combined = p_data / 'rainfall.csv' # main csv file to use

In [11]:
%%time
%%memit

# combine csvs with pandas
csvs = [p for p in p_csv.glob('*.csv')]
dfs = []

# load individual dfs and save to list
for p in csvs:
    model_name = p.name.split('_')[0]

    df = pd.read_csv(p) \
        .assign(model=model_name)

    dfs.append(df)

# concat all dfs
df = pd.concat(dfs) \
    .rename(columns={'rain (mm/day)': 'rain'})

peak memory: 12317.36 MiB, increment: 11777.62 MiB
CPU times: user 57.3 s, sys: 11.7 s, total: 1min 8s
Wall time: 1min 11s

#### Runtimes

Times to combine dataframe csvs for each team member:

|User|OS|Processor|RAM|Load Time (s)|
|:--|:--|:--|:--|--:|
|Jayme|Mac OS|2.4 GHz 8-Core Intel Core i9|32 GB 2667 MHz DDR4| 62|
|Zhiyong|Mac OS |2.6 GHz Dual-Core Intel Core i5 |8 GB 1600 MHz DDR3 |105
|Marc|Windows 10 Education |Core(TM) i7-7700HQ 2.8 GHz |16 GB |86

In [12]:
print(df.shape)
df.head()

(62513863, 7)

,time,lat_min,lat_max,lon_min,lon_max,rain,model
0,1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1,1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
2,1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
3,1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
4,1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62513863 entries, 0 to 3541152
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   time     object
 1   lat_min  float64
 2   lat_max  float64
 3   lon_min  float64
 4   lon_max  float64
 5   rain     float64
 6   model    object
dtypes: float64(5), object(2)
memory usage: 3.7+ GB

In [14]:
# save combined data back to csv
df.to_csv(p_combined, index=False)

In [15]:
# check size of full csv on disk
nn.to_human(p_combined.stat().st_size, prec=1, family='filesize')

'6.0GB'

In [16]:
%%time
%%memit
# Load csv with dask

ddf = dd.read_csv(p_combined, assume_missing=True)

peak memory: 11094.72 MiB, increment: -0.61 MiB
CPU times: user 85.8 ms, sys: 160 ms, total: 245 ms
Wall time: 1.56 s

In [17]:
ddf.head()

,time,lat_min,lat_max,lon_min,lon_max,rain,model
0,1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1,1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
2,1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
3,1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
4,1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM

## 3. Python EDA

Here we will investigate and summarize the following approaches to reduce memory usage while performing a simple EDA (find maximum rainfall):

1. Baseline
2. Load data in chunks
3. Load only columns of interest
4. Dask

### 3.1 Baseline

Naive approach, read all columns with pandas `read_csv`

In [18]:
print_max_rain = lambda x: print(f'Max rainfall: {x:.2f} mm/day')

In [19]:
%%time
%%memit

max_rain_baseline = pd.read_csv(p_combined).rain.max()
print_max_rain(max_rain_baseline)

Max rainfall: 432.94 mm/day
peak memory: 14904.34 MiB, increment: 3652.56 MiB
CPU times: user 1min, sys: 11.3 s, total: 1min 11s
Wall time: 1min 13s

### 3.2 Load data in chunks

In [20]:
%%time
%%memit

max_rain_chunks = np.finfo('float64').min

for df_chunk in pd.read_csv(p_combined, chunksize=1_000_000):
    cur_max = df_chunk.rain.max()
    if cur_max > max_rain_chunks:
        max_rain_chunks = cur_max

print_max_rain(max_rain_chunks)

Max rainfall: 432.94 mm/day
peak memory: 9658.38 MiB, increment: 515.60 MiB
CPU times: user 55.9 s, sys: 2.77 s, total: 58.6 s
Wall time: 59.4 s

### 3.3 Load only columns of interest

In [21]:
%%time
%%memit

df_one_col = pd.read_csv(p_combined, usecols=['rain'])
max_rain_one = df_one_col.rain.max()
print_max_rain(max_rain_one)

Max rainfall: 432.94 mm/day
peak memory: 9637.20 MiB, increment: 10.33 MiB
CPU times: user 27.6 s, sys: 1.27 s, total: 28.9 s
Wall time: 29.4 s

### 3.4 Dask

In [22]:
%%time
%%memit

ddf = dd.read_csv(p_combined)
max_rain_dask = ddf.rain.max().compute()

print_max_rain(max_rain_dask)

Max rainfall: 432.94 mm/day
peak memory: 11811.69 MiB, increment: 2174.47 MiB
CPU times: user 1min 22s, sys: 14.5 s, total: 1min 37s
Wall time: 28.7 s

#### Summary
The following table summarizes memory usage and execution time for the simple EDA:

In [23]:
m_results = dict(
    baseline=[14973, 65],
    chunks=[1323, 55],
    single_column=[5452, 27],
    dask=[5529, 25])

pd.DataFrame \
    .from_dict(
        m_results,
        orient='index',
        columns=['Peak Memory Usage (MB)', 'Execution Time (S)']) \
    .rename_axis('Method') \
    .style.pipe(f.bg, rev=False)

#### Observations
- To find the maximum rainfall, in this case we only needed one column in the table, therefor loading all columns was redundant.
- Loading data in chunks reduced our execution time slightly, and greatly reduced peak memory usage.
- Both loading only a single column and Dask had similar memory usage, with Dask executing slightly faster (25s).
- Overall Dask reduced our memory usage by ~1/3 and execution time by ~60%.

## 4. R EDA

### 4.1 Save data to multiple formats
Here we will compare different methods to make the dataframe available in R:

1. Feather
2. Parquet

In [24]:
# load csv and create arrow table
dataset = ds.dataset(p_combined, format='csv')
arrow_table = dataset.to_table()

In [25]:
%%time
%%memit

# save feather file

p_feather = p_data / 'data.feather'
feather.write_feather(arrow_table, p_feather)

peak memory: 11329.93 MiB, increment: -6.00 MiB
CPU times: user 3.73 s, sys: 5.66 s, total: 9.39 s
Wall time: 6.12 s

In [26]:
%%time
%%memit

# save parquet file
# NOTE parquet saves the file in a directory, need to get file path after

p_parquet_dir = p_data / 'parquet'
pq.write_to_dataset(arrow_table, p_parquet_dir)

# get parquet file path
p_parquet = list(p_parquet_dir.glob('*'))[0]

peak memory: 10783.86 MiB, increment: 133.93 MiB
CPU times: user 9.76 s, sys: 1.32 s, total: 11.1 s
Wall time: 12 s

In [27]:
# check filesizes on disk
m_results = defaultdict(dict)
m_files = dict(
    feather=p_feather,
    parquet=p_parquet)

for name, p in m_files.items():
    size = p.stat().st_size
    size_human = nn.to_human(size, prec=1, family='filesize')

    m = m_results[name]
    m['size_disk'] = size

    print(f'{name}: {size_human}')

feather: 1.1GB
parquet: 565.9MB

### 4.2 Load data and perform EDA

In [48]:
%%R

library(arrow)
library(dplyr)

# if run in jupyter need to bump root dir up one level from /rainfall_group22/notebooks to /rainfall_group22
cwd <- getwd()
if (grepl("notebook", cwd, fixed=TRUE)) {
    setwd("..")
}

# set filepaths in R
p_feather = "data/data.feather"
p_parquet = Sys.glob("data/parquet/*")

print(p_feather)
print(p_parquet)

[1] "data/data.feather"
[1] "data/parquet/3ee921911ae2412c9446f53d97880de8.parquet"

In [29]:
%%time
%%R

# load feather
df_feather <- arrow::read_feather(p_feather)

CPU times: user 8.54 s, sys: 19.5 s, total: 28 s
Wall time: 11.6 s

In [30]:
%%time
%%R

# load parquet
df_parquet <- arrow::read_parquet(p_parquet)

CPU times: user 11.9 s, sys: 9.72 s, total: 21.6 s
Wall time: 13.2 s

In [45]:
%%R

print(class(df_feather))

max_rainfall <- df_feather[!is.na(df_feather$rain), ] %>% select('rain') %>% max()

print(max_rainfall)

[1] "tbl_df"     "tbl"        "data.frame"
[1] 432.9395

#### Summary

In [32]:
# compare results metrics

m_feather = dict(
    peak_memory=9417,
    time_write=5.82,
    time_load=12.4)

m_parquet = dict(
    peak_memory=12929,
    time_write=10.9,
    time_load=8.9)
    
m_results['feather'].update(m_feather)
m_results['parquet'].update(m_parquet)

pd.DataFrame \
    .from_dict(m_results).T \
    .rename_axis('Method') \
    .sort_index(axis=1) \
    .assign(time_total=lambda x: x.time_write + x.time_load) \
    .style \
    .pipe(f.bg, rev=False) \
    .format('{:,.0f}') \
    .format('{:.2f}', subset=['time_write', 'time_load', 'time_total'])

Our team chose to use the `Feather` file format to transfer data between python and R over `Parquet`.

Both file types had similar write, load, and total times to transfer data, and parquet even used half the memory on disk. However, the parquet file type is a bit more involved to deal with (have to handle more complex file paths), as it is primarily mean for long term storage. If we were optimizing for storage size rather than ease of completing a simple EDA, we would have chosen parquet.